.icon {
  width: $base-spacing-unit;
  height: $base-spacing-unit;

  svg {
    width: $base-spacing-unit;
    height: $base-spacing-unit;
  }
  
  &--large {
    width: $double-spacing-unit;
    height: $double-spacing-unit;
  
    svg {
      width: $double-spacing-unit;
      height: $double-spacing-unit;
    }
  }
}
