.c-success {
  background-color: $brand-primary;
  background-image: $brand-gradient;
  color: $background-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 125px;

  .icon--check {
    width: 80px;
    height: 80px;

    svg {
      width: 80px;
      height: 80px;
    }
  }
}
