.c-btn {
  color: black;
  border: 1px solid black;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  padding: $tiny-spacing-unit;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
