.c-btn {
  color: black;
  border: 1px solid black;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  margin: $small-spacing-unit;
  padding: $small-spacing-unit;
  text-decoration: none;
  text-transform: uppercase;
}
