.c-btn {
  color: $background-color;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
  border-radius: 4px;
  display: inline-block;
  font-size: $base-font-size;
  line-height: 27px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: $small-spacing-unit;

  &:focus, &:active {
    border: 1px solid $brand-dark;
    background-color: $brand-dark;
  }

  &:disabled {
    background-color: $disabled-color;
    border: 1px solid $disabled-color;
  }
}
