input, %input, select, %select {
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
}

input:disabled, %input--disabled {
  background-color: #eee;
}

button:focus, input:focus, %input--focus {
  outline: none;
  border-color: #ff6c3c;
}

