html, body, main {
  height: 100%;
}

body {
  font-family: $font-family;
}

main {
  @media screen and (min-width: 426px) {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #EFEFEF;
  }
}
