// #APP
/*
 * App layout using CSS Grid Layout
 */

.o-app {
  height: 100vh;
  display: grid;
  grid-gap: $tiny-spacing-unit;
  grid-template-rows: $base-spacing-unit 1fr $base-spacing-unit * 1.5;
  grid-template-columns: 1fr $base-spacing-unit * 1.5;
  grid-template-areas:
    'header nav'
    'content content'
    'footer footer';
}

.o-app__header {
  grid-area: header;
  display: flex;
  align-items: baseline;

  a {
    text-decoration: none;
    color: black;
  }
}

.o-app__nav {
  grid-area: nav;
}

.o-app__content {
  grid-area: content;
  padding: 0 $base-spacing-unit;
}

.o-app__footer {
  grid-area: footer;
}
