// #APP
/*
 * App layout using CSS Grid Layout
 */

.o-app {
  height: 100vh;
  display: grid;
  grid-template-rows: 27px 1fr 27px;
  grid-template-columns: 27px 1fr 27px;
  grid-template-areas:
    'header header header'
    'content content content'
    'footer footer footer';
}

.o-app__header {
  grid-area: header;
  display: flex;
  align-items: baseline;
}

.o-app__nav {
  grid-area: nav;
}

.o-app__content {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
}

.o-app__footer {
  grid-area: footer;
}
