@import url('https://fonts.googleapis.com/css?family=Barlow:200,400,500');

$inuit-global-font-size: 18px;
$inuit-global-line-height: 24px;

$small-font-size: 14px;
$label-font-size: 15px;
$base-font-size: 18px;
$large-font-size: 22px;
$huge-font-size: 72px;


// TODO pull in the font files using webpack / node module
$font-family: 'Barlow', sans-serif;
