$brand-primary: #FF530D;
$brand-gradient: linear-gradient(224.34deg, #F23828 -3.81%, $brand-primary 67.53%, #FF8820 149.18%);
$brand-disabled: rgba($brand-primary, 0.4);

$brand-dark: #DA4001;

$background-color: #FFFFFF;
$text-color: #4A4A4A;
$disabled-color: #E8E8E8;
