$tiny-spacing-unit: $inuit-global-spacing-unit-tiny;
$small-spacing-unit: $inuit-global-spacing-unit-small;
$base-spacing-unit: $inuit-global-spacing-unit;
$double-spacing-unit: $inuit-global-spacing-unit-large;
