.u-muted {
  color: $disabled-color;
}

.u-light {
  font-weight: 200 !important;
}

.u-normal {
  font-weight: 400 !important;
}

.u-medium {
  font-weight: 500 !important;
}

.u-background {
  color: $background-color;
}

.u-brand-primary {
  color: $brand-primary !important;
}

.u-smaller {
  font-size: $label-font-size !important;
  line-height: 24px;
}

.u-base-size {
  font-size: $base-font-size !important;
  line-height: $inuit-global-line-height !important;
}
