.u-muted {
  color: $disabled-color;
}

.u-light {
  font-weight: 200;
}

.u-normal {
  font-weight: 400;
}

.u-medium {
  font-weight: 500;
}

.u-background {
  color: $background-color;
}

.u-brand-primary {
  color: $brand-primary;
}

.u-smaller {
  font-size: $label-font-size;
  line-height: 24px;
}
