body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
}

h3 {
  font-size: 24px;
  text-transform: capitalize;
}

.flip {
  transform: rotate(180deg);
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

}

main {
  flex: 1;
  display: flex;
}

header {
  display: flex;
  align-items: center;

  border-width: 1px;
  border-color: #333;
  border-style: solid none;

  padding: 0.5em 1em;
  margin: 1.5em -1em;

  h1, h2 {
    margin: 0;
  }

  h1 {
    flex: 1;
    order: 2;
    text-align: center;
  }

  h2 {
    flex: 0 0 200px;

    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 0.5em;
    }
  }

  h2:first-of-type {
    order: 3;
  }
  h2:last-of-type {
    order: 1;
  }
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }
}

@mixin soft-border {
  border: 1px solid #ccc;
  border-radius: 0.1em;
}

.app {
  flex: 1;

  margin: 1em;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.client-view, .merchant-view {
    flex: 1;
}

.merchant-view {
  order: 1;
}
header {
  order: 2;
}
.client-view {
  order: 3;
}

.success {
  padding: 1em;
  align-self: center;
  color: green;
  border: 2px solid green;
  border-radius: 0.2em;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  .check {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    border: inherit;
    border-radius: 50%;

    margin-right: 0.5em;
  }
}

.halves {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  > * {
    flex: 0 0 calc(50% - 1em);
  }
}

label {
  display: flex;
  align-items: center;

  span {
    flex: 1;
    text-transform: capitalize;
  }

  input {
    @include soft-border();
    padding: 0.5em;
    margin: 0.5em;
    flex: 0 0 100px;

    &[readonly] {
      border: none;
    }
  }
}

.payment-result {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  .qr-code {
    margin: 1em;
  }

  .integrated-address {
    @include soft-border();

    text-align: center;
    margin: 1em 0;
    padding: 1em;
    flex: 0 0 3em;
    overflow: hidden;
    font-family: monospace;
  }
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}